body {
    background-color: #CBC3E3;
    color: #BF40BF;
    font-size: 25px;
    background-image: url(https://i.pinimg.com/originals/65/83/5c/65835c6e2b1fc030e9cc1193ccece6d2.webp);
    padding: 5px 5px;
    font-family: 'Gluten', cursive;
}
.purple-font{
    color: rgb(155, 124, 255); 
}
#id {
    color: #5d3fd3
}
.head{
    text-align: center;
    margin-top: 50px;
    background-color: #E6E6FA;
    border: 3px solid rgb(155, 124, 255);
    padding: 25px 25px;
}
.center{
    text-align: center;
}
.blogpost{
    height: 50%;
    width: 25%;
    background: rgb(155, 124, 255);
    border: 3px solid rgb(155, 124, 255);
    padding: 25px 25px;
    margin: 15px;
    display: block;
    margin: 15 auto;
}
.post-1{

}
.post-2{

}
.post-3{
}